@charset "UTF-8";

.header, .footer {
	border : 2px black solid;
	width : 600px;
	height : 50px;
	font-weight : bold;
	text-align : center;
	padding-top : 15px;
	
}

.main{
	
	width:600px;
	min-height : 500px;
	padding-top : 15px;
	
}

